@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

/* size */
$size-general: 16px;
/* fonts */
$font-general: 'Roboto', sans-serif;
/* colors */
$color-brand: #1A0D14;
$color-nav: #201414;


$font-brand: 2.8rem;
$font-form-title: 2.2rem;

body{
    font-size: $size-general;
    box-sizing: content-box;
    font-family: $font-general;  
    position: relative;  
}
.bg{
    height: 780px;
    display: block;
    position: relative;
    &:after{
        content: "";
        background-image:url("../../public/images/garden2.jpg");
        background-position: center;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
    }    
}

.brand{
    color: $color-brand;
    font-size: $font-brand;
}
.list-social li{
    padding: 0 5px;
}   

.main{
    height: 650px;
}
.main_mark{
    height: 100%;
}
.main_mark--title{
    font-size: 3.25rem;
}
.main_mark--button{
    cursor: pointer;
    border: none;
    padding: 8px;
    font-size: 20px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    font-family: cursive;    
    margin: 10px 0;
}
.form{
    display: block;    
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #64AB95;
    border-radius: 15px;
    font-stretch: wider;  
    &:after{
        content: "";
        background-color: #0C7C59;   
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }  
    .form-group {
        padding: 10px 0;
        opacity: 0.8;
      }
}
.form_title{
    font-size: $font-form-title;
    padding: 8px;
}
.form_content{
    margin: 15px 0;
}
.form_icon{
    padding: 0 5px;
}

