@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

/* size */
$size-general: 16px;
$size-brand: 2.9rem;
$size-form-title: 2.2rem;


/* fonts */
$font-general: 'Roboto', sans-serif;
/* colors */
$color-brand: #1A0D14;
$color-nav: #201414;




body{
    font-size: $size-general;
    box-sizing: content-box;
    font-family: $font-general;  
    position: relative;
    h2{
    font-size: $size-title-h2;
    }   
}

.bg{
    height: 780px;
    display: block;
    position: relative;
    &:after{
        content: "";
        background-image:url("../../public/images/garden2.jpg");
        background-position: center;
        opacity: 0.6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    } 
    .menu-fixed{
        position: fixed;
        top: 0;
        z-index: 1020;
        width: 100%;
        box-shadow: 0px 4px 3px rgba(0,0,0, 0.5);
    }
}

.brand{
    font-family: $font-general;
    color: $color-brand;
    font-size: $size-brand;  
}
.list-social li{
    list-style-type: none;
    padding: 0 5px;
}




